// Fonts
$header-font: "Bellefair", serif;
$main-font: "Barlow Condensed", sans-serif;

// Colors
$background: rgb(11, 13, 23);
$main: rgb(255, 255, 255);
$secondary: rgb(208, 214, 249);

// Width for media queries
$widthTablet: 1260px;
$widthSmartphone: 600px;

h1 {
  @include fontStyle($main, $header-font, normal, 150px, uppercase);
}

h2 {
  @include fontStyle($main, $header-font, normal, 80px, uppercase);
}

h3 {
  @include fontStyle($main, $header-font, normal, 56px, uppercase);
}

h4 {
  @include fontStyle($background, $header-font, normal, 32px, uppercase);
}

h5 {
  @include fontStyle($main, $main-font, normal, 28px, uppercase);
  letter-spacing: 4.75px;
}

h6 {
  @include fontStyle($main, $header-font, normal, 28px, uppercase);
}

a {
  text-decoration: none;
}

p {
  @include fontStyle($secondary, $main-font, normal, 18px, none);
  line-height: 32px;
  letter-spacing: 1.5px;
}

strong {
  margin-right: 24px;
  opacity: 0.25;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  height: 100vh;
}

// Header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 55px;
  position: relative;
}

header::before {
  position: absolute;
  top: 50%;
  left: 8%;
  z-index: 2;
  content: "";
  width: 35%;
  height: 1px;
  background-color: rgb(72, 75, 84);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 0 165px 0 123px;
  height: 96px;
  background-color: rgba($main, 0.04);
  backdrop-filter: blur(81.55px);
}

nav a {
  @include fontStyle($main, $main-font, normal, 16px, uppercase);
  letter-spacing: 2.7px;
  cursor: pointer;
  position: relative;
}

nav strong {
  margin-right: 14px;
}

nav a::before {
  position: absolute;
  top: 55px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba($main, 0.5);
  scale: 0;
  transition: 0.4s;
}

nav a:hover::before {
  scale: 100%;
}

.activeNav {
  position: relative;
}

.activeNav:after {
  position: absolute;
  top: 55px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: $main;
}

.hamburger {
  display: none;
}

@media all and (max-width: 1360px) {
  header::before {
    width: 30%;
  }
}

@media all and (max-width: $widthTablet) {
  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
    letter-spacing: 3.38px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }

  strong {
    margin-right: 20px;
  }

  // Header

  header {
    margin-top: 0;
    margin-left: 40px;
  }

  header::before {
    width: 0;
  }

  nav {
    gap: 37px;
    padding: 0 48px;
  }

  nav a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }

  nav strong {
    display: none;
  }
}

@media all and (max-width: $widthSmartphone) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  p {
    font-size: 15px;
    line-height: 25px;
  }

  strong {
    margin-right: 16px;
  }

  // Header

  header {
    margin-left: 24px;
  }

  header img {
    margin-top: 24px;
    width: 40px;
    height: 40px;
  }

  nav {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 118px 0 0 32px;
    width: 65%;
    min-height: 100vh;
    backdrop-filter: blur(40px);
    z-index: 2;
    margin-right: -100%;
  }

  nav.mobile {
    margin-right: 0;
  }

  .hamburger {
    display: block;
    margin-right: 24px;
    cursor: pointer;
    width: 21px;
    height: 21px;
    z-index: 2;
  }

  nav a {
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  nav strong {
    display: initial;
    margin-right: 11px;
  }

  nav a::before {
    top: 30px;
  }

  .activeNav:after {
    top: 30px;
  }
}
