@import "./_mixins.scss";
@import "./_main.scss";

body {
  background-image: url("../destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}

// Destination

main {
  margin: 50px 160px 0 160px;
}

strong {
  margin-right: 24px;
  opacity: 0.25;
}

.descriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  margin-top: 50px;
}

.descriptions img {
  width: 445px;
  height: 445px;
}

.links {
  display: flex;
  gap: 35px;
}

.links a {
  @include fontStyle($secondary, $main-font, normal, 16px, uppercase);
  letter-spacing: 2.7px;
  cursor: pointer;
  position: relative;
}

.links a::before {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0;
  background-color: $main;
  width: 100%;
  height: 3px;
  opacity: 50.21%;
  scale: 0;
  transition: 0.4s;
}

.links a:hover {
  color: $main;
}

.links a:hover::before {
  scale: 100%;
}

.links a:focus::before {
  opacity: 100%;
}

.text {
  width: 445px;
  border-bottom: 1px solid rgba($main, 0.17);
  padding-bottom: 54px;
}

.text h2 {
  margin: 37px 0 14px 0;
}

.data {
  margin-top: 28px;
  display: flex;
  gap: 80px;
}

.data p {
  margin-bottom: 12px;
}

@media all and (max-width: 1360px) {
  body {
    background-image: url("../destination/background-destination-tablet.jpg");
    max-height: none;
    min-height: 100vh;
  }

  // Destination

  main {
    margin: 40px;
  }

  strong {
    margin-right: 20px;
  }

  .descriptions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 53px;
    margin-top: 60px;
  }

  .descriptions img {
    width: 300px;
    height: 300px;
  }

  .links {
    justify-content: center;
  }

  .text {
    width: 573px;
    text-align: center;
  }

  .text h2 {
    margin: 32px 0 8px 0;
  }

  .data {
    justify-content: center;
    text-align: center;
    margin-bottom: 62px;
  }
}

@media all and (max-width: 600px) {
  body {
    background-image: url("../destination/background-destination-mobile.jpg");
  }

  // Destination

  main {
    margin: 34px 24px;
  }

  main h5 {
    text-align: center;
  }

  .descriptions {
    gap: 26px;
    margin-top: 32px;
  }

  .descriptions img {
    width: 170px;
    height: 170px;
  }

  .text {
    width: 327px;
  }

  .text h2 {
    margin: 20px 0 1px 0;
  }

  .data {
    margin-bottom: 58px;
  }
}
