@import "./_mixins.scss";
@import "./_main.scss";

body {
  background-image: url("../home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

// Introduction

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 180px 50px 180px;
}

.introduction__text {
  margin-top: 150px;
  width: 450px;
}

.introduction__text h5 {
  color: $secondary;
}

.introduction__text h1 {
  margin: 24px 0;
}

.introduction__btn {
  cursor: pointer;
  margin-top: 200px;
  position: relative;
  transition: 0.5s linear;
}

.introduction__btn h4 {
  letter-spacing: 2px;
  background-color: $main;
  clip-path: circle();
  padding: 119px 64px 118px 62px;
}

.introduction__btn span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(36, 38, 47);
  width: 100%;
  height: 100%;
  scale: 1;
  clip-path: circle();
  z-index: -1;
  transition: 0.8s ease-in-out;
}

.introduction__btn:hover span {
  scale: 1.5;
}

@media all and (max-width: $widthTablet) {
  body {
    background-image: url("../home/background-home-tablet.jpg");
    background-position: bottom;
    background-size: cover;
  }

  // Introduction

  .introduction {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 24px;
  }

  .introduction__text {
    margin-top: 106px;
  }

  .introduction__btn {
    margin-top: 156px;
    margin-bottom: 90px;
  }

  .introduction__btn h4 {
    font-size: 32px;
    padding: 103px 48px 102px 46px;
  }
}

@media all and (max-width: $widthSmartphone) {
  body {
    background-image: url("../home/background-home-mobile.jpg");
  }

  // Introduction

  .introduction__text {
    margin-top: 58px;
    width: 100%;
  }

  .introduction__text h1 {
    margin: 16px 0;
  }

  .introduction__btn {
    margin-top: 81px;
    margin-bottom: 48px;
  }

  .introduction__btn h4 {
    letter-spacing: 1.25px;
    font-size: 20px;
    padding: 64px 27.5px 60px 29.5px;
  }
}
