@import "./_mixins.scss";
@import "./_main.scss";

body {
  background-image: url("../technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

// Crew

main {
  margin: 50px 0 0 160px;
  display: grid;
  grid-template-columns: 170px 500px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "title title title"
    "btn text img";
}

main h5 {
  grid-area: title;
}

.text {
  grid-area: text;
  align-self: center;
}

.text h6 {
  @include fontStyle($secondary, $main-font, normal, 16px, uppercase);
  letter-spacing: 2.7px;
}

.text h3 {
  margin: 11px 0 17px 0;
}

.btns {
  grid-area: btn;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btn {
  @include fontStyle($main, $header-font, normal, 32px, uppercase);
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid rgba($main, 0.25);
  cursor: pointer;
}

.active {
  color: $background;
  background-color: $main;
}

.image {
  grid-area: img;
  justify-self: end;
}

.image img {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
}

@media all and (max-width: $widthTablet) {
  body {
    background-image: url("../technology/background-technology-tablet.jpg");
  }

  // Crew

  main {
    margin: 40px 0 95px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 84px 1fr 116px 280px;
    grid-template-areas:
      "title"
      "img"
      "btn"
      "text";
  }

  main h5 {
    margin-left: 40px;
  }

  .text {
    text-align: center;
    justify-self: center;
    align-self: flex-end;
  }

  .text h3 {
    margin: 16px 0;
  }

  .text p {
    width: 460px;
  }

  .btns {
    justify-self: center;
    align-self: flex-end;
    flex-direction: row;
    gap: 16px;
  }

  .btn {
    font-size: 24px;
    width: 60px;
    height: 60px;
  }

  .image {
    justify-self: center;
    width: 100%;
  }

  .image img {
    width: 100%;
  }
}

@media all and (max-width: $widthSmartphone) {
  body {
    background-image: url("../technology/background-technology-mobile.jpg");
  }

  // Crew

  main {
    margin: 34px 0 80px 0;
    grid-template-rows: 50px 1fr 74px 270px;
  }

  main h5 {
    margin-left: 24px;
    text-align: center;
  }

  .text h3 {
    margin: 9px 0 16px 0;
  }

  .text p {
    width: 330px;
  }

  .btn {
    font-size: 16px;
    width: 40px;
    height: 40px;
  }
}
